In [2]:
from faker import Faker

In [3]:
fake = Faker()

In [39]:
#employees dictionary 
employees = [   { 
          "emp" : 1,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':10000
        },
        { "emp" : 2,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':15000
        },
        { "emp" : 3,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':12000
        },
        { "emp" : 4,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':17000
        },
        { "emp" : 5,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':19000
        },
        { "emp" : 6,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':22000
        },
        { "emp" : 7,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':25000
        },
        { "emp" : 8,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':16000
        },
        { "emp" : 9,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':20000
        },
        { "emp" : 10,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':21000
        }, 
    ]

In [35]:
#print employee detail 
print(employees[9])

{'emp': 10, 'name': 'James Ingram', 'email': 'lindseyweber@example.com', 'address': '3323 Allison Junction\nJesseview, NH 70322', 'salary': 21000}

In [36]:
#print employees detail of specific item
print(employees[9]['salary'])

21000

In [34]:
#prin max salary in all employees
print(max(employees,key=lambda x:x['salary']))

{'emp': 7, 'name': 'Erika Moore', 'email': 'sabrina10@example.com', 'address': '2294 Mccoy Manors Suite 116\nJonathanton, MI 66563', 'salary': 25000}

In [37]:
#prin min salary in all employees
print(min(employees,key=lambda x:x['salary']))

{'emp': 1, 'name': 'Christina Morris', 'email': 'clinejennifer@example.net', 'address': '72226 Jessica Manor\nWest Colleenfurt, AL 38489', 'salary': 10000}