In [6]:
from faker import Faker

In [7]:
fake = Faker()

In [8]:
#employees dictionary 
employees = [   { 
          "emp" : 1,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':10000
        },
        { "emp" : 2,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':15000
        },
        { "emp" : 3,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':12000
        },
        { "emp" : 4,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':17000
        },
        { "emp" : 5,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':19000
        },
        { "emp" : 6,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':22000
        },
        { "emp" : 7,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':25000
        },
        { "emp" : 8,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':16000
        },
        { "emp" : 9,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':20000
        },
        { "emp" : 10,
          'name': fake.name(),
          'email': fake.email(),
          'address': fake.address(),
          'salary':21000
        }, 
    ]

In [9]:
#print employee detail 
print(employees[9])

{'emp': 10, 'name': 'Adam Murray', 'email': 'kkennedy@example.org', 'address': '906 Carmen Forge Suite 030\nEast Kevinburgh, KY 05697', 'salary': 21000}

In [10]:
#print employees detail of specific item
print(employees[9]['salary'])

21000

In [11]:
#prin max salary in all employees
print(max(employees,key=lambda x:x['salary']))

{'emp': 7, 'name': 'Matthew Davies', 'email': 'rachel96@example.com', 'address': 'Unit 4245 Box 4456\nDPO AE 37583', 'salary': 25000}

In [12]:
#prin min salary in all employees
print(min(employees,key=lambda x:x['salary']))

{'emp': 1, 'name': 'Brian Herman', 'email': 'brettaustin@example.com', 'address': '453 Alex Court Apt. 820\nNew Jonathanmouth, NY 15785', 'salary': 10000}

In [20]:
#delete employee data
for i in range(len(employees)):
    if employees[i]['emp'] == 45:
        del employees[i]
        break

In [47]:
# add new employees details
def new_employee():
    for x in range(2):
      emp_dic = { }
      emp = int(input("Enter employee code : "))
      name = (fake.name())
      email = (fake.email())
      address = (fake.address())
      salary = int(input("Enter employee salary : "))
      emp_dic[ 'emp'] = emp
      emp_dic[ 'name'] = name
      emp_dic[ 'email'] = email
      emp_dic[ 'address'] = address
      emp_dic[ 'salary'] = salary
      print(emp_dic)
      employees.append(emp_dic)
new_employee()

{'emp': 11, 'name': 'Kevin Nielsen', 'email': 'devinmills@example.com', 'address': '6148 Courtney Track\nLake Alexistown, DE 94074', 'salary': 19500}
{'emp': 12, 'name': 'William Lam', 'email': 'margaret23@example.org', 'address': '509 White Divide Suite 727\nLake Stevenmouth, SD 64024', 'salary': 17500}

In [48]:
employees

[{'emp': 1,
  'name': 'Brian Herman',
  'email': 'brettaustin@example.com',
  'address': '453 Alex Court Apt. 820\nNew Jonathanmouth, NY 15785',
  'salary': 10000},
 {'emp': 2,
  'name': 'Louis Marshall',
  'email': 'ufisher@example.org',
  'address': '497 Gomez Turnpike Apt. 559\nSouth Mark, SD 10448',
  'salary': 15000},
 {'emp': 3,
  'name': 'Kelli Young',
  'email': 'normantina@example.org',
  'address': '0110 Courtney Row Suite 606\nMonicaborough, MS 90174',
  'salary': 12000},
 {'emp': 4,
  'name': 'Mary Smith',
  'email': 'colleenwhite@example.net',
  'address': '71342 Bobby Rest Apt. 564\nBeasleyborough, ID 69385',
  'salary': 17000},
 {'emp': 5,
  'name': 'Reginald Montes',
  'email': 'michaelbanks@example.net',
  'address': '6169 Marc Ferry Suite 597\nAndradeview, WA 41360',
  'salary': 19000},
 {'emp': 6,
  'name': 'John Douglas',
  'email': 'michael26@example.org',
  'address': '46443 Joshua Trail\nGuzmantown, MN 15254',
  'salary': 22000},
 {'emp': 7,
  'name': 'Matthew Davies',
  'email': 'rachel96@example.com',
  'address': 'Unit 4245 Box 4456\nDPO AE 37583',
  'salary': 25000},
 {'emp': 8,
  'name': 'Jennifer Fischer',
  'email': 'sharpbrian@example.net',
  'address': 'USCGC Jenkins\nFPO AP 45955',
  'salary': 16000},
 {'emp': 9,
  'name': 'Mary Brandt',
  'email': 'whiteamber@example.net',
  'address': '25261 Fletcher Stream\nNew Michaelstad, UT 60476',
  'salary': 20000},
 {'emp': 10,
  'name': 'Adam Murray',
  'email': 'kkennedy@example.org',
  'address': '906 Carmen Forge Suite 030\nEast Kevinburgh, KY 05697',
  'salary': 21000},
 {'emp': 11,
  'name': 'Kevin Nielsen',
  'email': 'devinmills@example.com',
  'address': '6148 Courtney Track\nLake Alexistown, DE 94074',
  'salary': 19500},
 {'emp': 12,
  'name': 'William Lam',
  'email': 'margaret23@example.org',
  'address': '509 White Divide Suite 727\nLake Stevenmouth, SD 64024',
  'salary': 17500}]